/* crud-stylesheet */

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3.5rem;
}

.search-input {
    border: 1px solid whitesmoke;
    border-radius: 0.3rem;
    padding: 0.3rem;
}

.search-input input, 
.search-input button {
    font-size: 1.2rem;
    border-radius: 0.2rem;
    border: none;
    padding: 0.3rem;
}

.search-input button {
    cursor: pointer;
    background: none;
    color: #fafafa;
}

.search-input button:hover {
    background-color: #fafafa;
    color: #6638f0;
}

#table-style {
    margin: 2rem 4rem;
    width: 75rem;
    filter: drop-shadow(.5rem .4rem .8rem #424040);
}

.create-btn {
    float: right;
    cursor: pointer;
    margin-left: 5rem;
    padding: .7rem;
    background-color: #fafafa;
    border: 2px solid #fafafa;
    border-radius: 50%;
}

.create-btn:hover {
    filter: drop-shadow(.2rem .3rem .4rem #353535);
    background-color: rgb(240, 238, 238);
    border: 1px solid rgb(240, 238, 238);
    transition: .5s;
}

.edit-btn,
.del-btn {
    width: 3.8rem;
    height: 2rem;
    border-radius: .3rem;
    color: white;
    border: none;
    z-index: 1;
}

.del-btn {
    background-color: rgba(148,187,233);
}

.edit-btn {
    background-color: rgba(238,174,202);
}

.edit-btn:hover {
    filter: drop-shadow(.2rem .3rem .4rem rgb(207, 134, 166));
    background-color: rgb(255, 139, 189);
}

.del-btn:hover {
    filter: drop-shadow(.2rem .3rem .4rem rgb(123, 167, 216));
    background-color: rgb(103, 174, 255);
}