/* crud-stylesheet */

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3.5rem;
}

input{
    width: 18rem;
}

.search-input {
    position:absolute;
    right: 11rem;
    border: 1.5px solid #fafafade;
    border-radius: 0.3rem;
    padding: .3rem;
}

.input-search {
    position:absolute;
    left: 9rem;
    border: 1.5px solid #fafafade;
    border-radius: 0.3rem;
    padding: .3rem;
}

.input-search input,
.search-input input,
.input-search button, 
.search-input button {
    font-size: 1.2rem;
    border-radius: 0.2rem;
    border: none;
    padding: .3rem;
}

.input-search button,
.search-input button {
    cursor: pointer;
    background: none;
    color: #fafafade;
    transition: .5s;
}

.input-search button:hover,
.search-input button:hover {
    background-color: #ffffff;
    color: #805aaf;
}

#table-style {
    margin: 2rem 9rem;
    width: 65rem;
    filter: drop-shadow(.5rem .4rem .8rem #424040);
}

.create-btn {
    position: absolute;
    right: 24rem;
    float: right;
    cursor: pointer;
    margin-left: 5rem;
    padding: .7rem;
    background-color: #fafafade;
    border: 2px solid #fafafade;
    border-radius: 50%;
    transition: .5s;
}

.create-btn:hover {
    filter: drop-shadow(.2rem .3rem .4rem #353535);
    background-color: #fafafade;
    border: 4px solid #fafafade;
}

.btn-create {
    position: absolute;
    right: 3rem;
    font-weight: bolder;
    margin-left: 5rem;
    width: 6.5rem;
    height: 2.8rem;
    border: 2px solid #8400ffbe;
    border-radius: .75rem;
    background-color: #8400ffbe;
    color: #fafafade;
    transition: .75s;
}

.crea-btn:hover,
.btn-create:hover {
    filter: drop-shadow(.2rem .3rem .4rem #8400ffdc);
    border: 4px solid #8400ffbe;
}

.crea-btn {
    position: absolute;
    left: 29rem;
    font-weight: bolder;
    margin-left: 5rem;
    width: 6.5rem;
    height: 2.8rem;
    border: 2px solid #8400ffbe;
    border-radius: .75rem;
    background-color: #8400ffbe;
    color: #fafafade;
    transition: .75s;
}

.edit-btn,
.del-btn {
    font-weight: bold;
    width: 4rem;
    height: 2rem;
    border-radius: .3rem;
    color: #fafafade;
    border: none;
    z-index: 1;
}

.del-btn {
    background-color: #50fd00cb;
    transition: .75s
}

.edit-btn {
    background-color: #ae3dffcc;
    transition: .75s
}

.edit-btn:hover {
    filter: drop-shadow(.2rem .3rem .4rem #ae3dff);
    background-color: #ae3dffea;
}

.del-btn:hover {
    filter: drop-shadow(.2rem .3rem .4rem #50fd00ea);
    background-color: #50fd00ea;
}

/* Crud-Pedidos-Stylesheet */

input::placeholder {
    color: #d3d3d3;
}

h3{
    color: #fafafade;
    position: absolute;
    top: 2.5rem;
    left: 7rem;
}

.center-column{
    position: absolute;
    left: 7rem;
    top: 7rem;
    width: 40rem;
    margin: 20px auto;
    padding: 20px;
    background-color: #333;
    border-radius: 1rem;
    box-shadow: 6px 2px 30px 0px rgba(32, 32, 32, 0.75);
}

.tb-column{
    position: absolute;
    left: 8.5rem;
    top: 13rem;
    width: 65rem;
    margin: 20px auto;
    padding: 20px;
    background-color: #333;
    border-radius: 1rem;
    box-shadow: 6px 2px 30px 0px rgba(32, 32, 32, 0.75);
}

.item-row,
.item-rows{
    background-color: #8400ffbe;
    width: 100%;
    margin-bottom: .5rem;
    padding: 20px;
    border-radius: .5rem;
    color: #fff;
    font-size: 16px;
    box-shadow: 0px -1px 10px -4px rgba(0,0,0,0.75);
    transition: .75s
}

.btn-display {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#btn-space-between {
    margin-left: 1rem;
}

.order-text {
    position: absolute;
    left: 2.3rem;
    top: 2.8rem;
    z-index:1;
}

/*#submit{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    color: #fff;
    background-color: #1eff05be;
    border: 1px solid #1eff05d0;
    transition: .75s
}

#submit:hover {
    filter: drop-shadow(.1rem .2rem .4rem #1eff05);
    background-color: #1eff05d0;
}*/